.new-card-list {
  padding: 80px 104px;
  background-color: #f5f6f7;
}

.news-card-list__title {
  max-width: 1232px;
  margin: 0 auto 64px;

  color: #1a1b22;
  font-family: "Roboto Slab", Georgia, serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
}

.news-card-list__cards {
  max-width: 1232px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
}
