.news-card {
  position: relative;
  min-width: 0;
  overflow: hidden;
  height: 576px;

  background-color: #fff;
  border-radius: 16px;
}

.news-card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.news-card__image {
  display: block;
  flex-shrink: 0;
  width: 100%;
  height: 272px;
  object-fit: cover;
}

.news-card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px;
}

.news-card__date {
  margin: 0;

  color: rgba(182, 188, 191, 1);
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.news-card__title {
  margin: 12px 0 16px;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;

  color: rgba(26, 27, 34, 1);
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 30px;
}

.news-card__description {
  margin: 0 0 18px;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;

  color: rgba(26, 27, 34, 1);
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
}

.news-card__source {
  margin: auto 0 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: rgba(182, 188, 191, 1);
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.news-card__bookmark {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;

  width: 40px;
  height: 40px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.news-card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;

  padding: 8px 12px;
  background-color: #fff;
  border-radius: 10px;

  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.news-card__delete-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;

  width: 40px;
  height: 40px;
  padding: 8px;

  background-color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.news-card__button-icon {
  display: block;
  max-width: 24px;
  max-height: 24px;
}

.news-card__button-icon_type_hover {
  display: none;
}

.news-card__delete-button:hover .news-card__button-icon_type_default {
  display: none;
}

.news-card__delete-button:hover .news-card__button-icon_type_hover {
  display: block;
}

.news-card__bookmark-icon_type_hover {
  display: none;
}

.news-card__bookmark:hover .news-card__bookmark-icon_type_default {
  display: none;
}

.news-card__bookmark:hover .news-card__bookmark-icon_type_hover {
  display: block;
}

@media screen and (max-width: 768px) {
  .news-card {
    height: 420px;
  }

  .news-card__image {
    height: 150px;
    width: 224px;
  }

  .news-card__content {
    padding: 16px;
  }

  .news-card__title {
    margin: 12px 0 10px;
    font-size: 22px;
    line-height: 24px;
  }

  .news-card__bookmark,
  .news-card__delete-button {
    top: 8px;
    right: 8px;
  }

  .news-card__keyword {
    top: 8px;
    left: 8px;
  }
}
