.about {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 624px;
  padding: 80px 216px 104px;
  background-color: #fff;
}

.about__container {
  width: 100%;
  max-width: 1232px;
  min-width: 0;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 56px;
}

.about__image {
  max-width: 464px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about__content {
  max-width: 600px;
}

.about__title {
  margin: 0 0 24px;

  color: rgba(26, 27, 34, 1);
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 46px;
}

.about__text {
  margin: 0 0 24px;

  color: rgba(26, 27, 34, 1);
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.about__text:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .about {
    padding: 80px;
  }

  .about__container {
    gap: 48px;
  }

  .about__image {
    width: 40%;
    max-width: 400px;
    flex-shrink: 0;
  }

  .about__content {
    flex: 1;
    max-width: none;
    min-width: 0;
  }

  .about__title {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    min-height: auto;
    padding: 40px;
  }

  .about__container {
    gap: 32px;
  }

  .about__image {
    width: 232px;
    height: 232px;
    flex-shrink: 0;
  }

  .about__content {
    max-width: 424px;
  }

  .about__title {
    margin-bottom: 16px;

    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 480px) {
  .about {
    min-height: 624px;
    padding: 32px 16px 80px;
  }

  .about__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .about__image {
    width: 272px;
    height: 272px;
    align-self: center;
  }

  .about__content {
    width: 100%;
    max-width: none;
  }

  .about__title {
    margin: 0 0 16px;

    font-size: 30px;
    line-height: 34px;
  }

  .about__text {
    font-size: 18px;
    line-height: 24px;
  }
}
