@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Roboto", Arial, sans-serif;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

a:focus-visible,
button:focus-visible,
input:focus-visible {
  outline: 2px solid #2f71e5;
  outline-offset: 2px;
}
